* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}
#clock {
  background-image: url("./pngwing.com.png");
  background-size: calc(100%) calc(100%);
  aspect-ratio: 1/1;
  margin: auto;
  position: relative;
}
.mobile-screen {
  width: 80%;
}
.desktop-screen {
  height: 80%;
}
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  transform: translate(-50%, -100%);
}
#hour {
  width: 8px;
  height: 28%;
  background-color: black;
}
#minute {
  width: 5px;
  height: 35%;
  background-color: black;
}
#second {
  width: 2px;
  height: 40%;
  background-color: black;
}
